@import "func";

@import "fonts";


/* --------------------
    Layout
    ------------------- */   

body { background: #fff; }

html { @include border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
    min-width: 320px;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#main {
    text-align: left;
    height: 100%;
}

.socket {
    @include socket;
}

.show-mob {
    display: none;
}


@include tablet {
    
    .hide-tablet {
        display: none !important;
    }
}

@include mobile {

    .hide-mob {
        display: none !important;
    }

    .show-mob {
        display: block !important;
    }

    span.show-mob {
        display: inline !important; 
    }
}

@include mobile-min {

    .hide-mob-min {
        display: none !important;
    }
}


/* --------------------
    Section Layout
    ------------------- */   


////////////// Page Scroll Plaguin 

.page-pagination {
    display: none;
}

// .page-pagination {
//   position: absolute;
//   right: 10px;
//   top: 50%;
//   z-index: 5;
//   margin-top: -75px
// }

// .page-pagination>a {
//   display: block;
//   width: 10px;
//   height: 10px;
//   border: 1px solid #000;
//   margin: 10px;
//   border-radius: 50%
// }

// .page-pagination>a.active { background: #000 }


.sections {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: transform;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: translateZ(0);
    opacity: 0;

    transition: all 0.7s cubic-bezier(.55,.085,0,.99) 0.8s;
    -webkit-transition: all 0.7s cubic-bezier(.55,.085,0,.99) 0.8s;
    -ms-transition: all 0.7s cubic-bezier(.55,.085,0,.99) 0.8s;

    &.active {
        @include delay(0s);
        opacity: 1;
        z-index: 1;
    }

    &.active:not(.section-top), &.loaded {

        .btn-circle:after {
            @include delay(0.1s);
            @include transform(rotate(0deg) scale(1));
        }
    }

    &.prev:not(.section-top) .btn-circle:after {
        @include transform(rotate(0deg) scale(1));
    }
}    


@include ie10 {

    .section {
        opacity: 0;

        transition: opacity 0.5s cubic-bezier(.55,.085,0,.99) 0s;
        -webkit-transition: opacity 0.5s cubic-bezier(.55,.085,0,.99) 0s;
        -ms-transition: opacity 0.5s cubic-bezier(.55,.085,0,.99) 0s;

        &.active {
            opacity: 1;
        }
    }    
}



@supports (-ms-ime-align:auto) {

    .section {
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }    
}


.svgclippaths {

    .section {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        
        &.active {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}


.person {
    @include delay(0.3s);
    position: absolute;

    @include mobile {

        @include land {
            width: auto !important;
            height: 300px !important;
            top: 50% !important;
            margin-top: -150px !important;
        }
    }

    @media (max-height: 400px) and (orientation: landscape){
        height: 200px !important;
        margin-top: -100px !important;
    }
}

.text-block {
    position: absolute;
    z-index: 1;

    .section:not(.section-top) & {

        .title, p {
            transition: all 0.55s ease-out, opacity 0.35s linear;
            -webkit-transition: all 0.55s ease-out, opacity 0.35s linear;
            -ms-transition: all 0.55s ease-out, opacity 0.35s linear;

            opacity: 0;
            will-change: transform;
        }

        .title {
            @include transform(translateY(15px));
        }

        p {
            @include transform(translateY(25px));
        }
    }

    @include mobile {
        left: 0 !important;

        .title {
            margin-right: 15px;
        }
    }

    div.active.section:not(.section-top) &, div.prev.section:not(.section-top) & { // LOADED

        .title, p {
            @include transform(translateY(0px));
            @include delay(0.3s);
            opacity: 1;
        }
    }
}

.btn-circle {
    @include border-rad(50%);
    display: inline-block;
    position: relative;
    width: 113px;
    height: 113px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    span {
        position: relative;
        display: block;
        z-index: 1;
        line-height: 113px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $fontBold;
    }

    img {
        @include origin(center, center);
    }

    &:after {
        @include transform(rotate(-70deg) scale(0.8));
        @include transition(transform, 0.65s, ease-in);
        @extend .ps;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/btn-circle.svg) no-repeat;
        background-size: 100% auto;
    }

    &.btn-arrow {

        img {
            @include transform(translateX(-50%) translateY(-50%) rotate(-120deg));
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            opacity: 0;
        }

        &.hover {

            span {
                @include animation(moreIn, 0.5s, ease-in-out);
            }

            img {
                @include animation(moreArrowIn, 0.25s, ease-in-out);
                animation-delay: 0.4s;
                -webkit-animation-delay: 0.4s;
                -ms-animation-delay: 0.4s;
            }
            
        }

        &.unhover {

            span {
                @include animation(moreOut, 0.7s, ease-in-out);
            }

            img {
                @include animation(moreArrowOut, 0.25s, ease-in-out);
            }
        }
    }

    @include mobile {
        width: 95px;
        height: 95px;

        span {
            line-height: 97px;
            font-size: 15px;
            letter-spacing: 0.5px;
        }
    }
}


.no-touchevents {

    div.section.loaded .btn-circle:hover:after,
    div.section.active .btn-circle:hover:after {
        @include transform(rotate(-70deg) scale(0.8));
        transition: transform 0.72s ease-in-out 0s !important;
        -webkit-transition: -webkit-transform 0.72s ease-in-out 0s !important;
        -ms-transition: -ms-transform 0.72s ease-in-out 0s !important;
    }
}

@keyframes moreIn {
    0% {
        @include rot(0deg);
        opacity: 1;
    }
    100% {
        @include rot(180deg);
        opacity: 0;
    }
}

@keyframes moreArrowIn {
    0% {
        @include transform(translateX(-50%) translateY(-50%) rotate(-120deg));
        opacity: 0;
    }
    25% {
        @include transform(translateX(-50%) translateY(-50%) rotate(-90deg));
        opacity: 1;
    }
    50% {
        @include transform(translateX(-50%) translateY(-50%) rotate(-60deg));
        opacity: 1;
    }
    100% {
        @include transform(translateX(-50%) translateY(-50%) rotate(0deg));
        opacity: 1;
    }
}

@keyframes moreOut {
    0% {
        @include rot(180deg);
        opacity: 0;
    }
    25% {
        @include rot(180deg);
        opacity: 0;
    }
    100% {
        @include rot(0deg);
        opacity: 1;
    }
}

@keyframes moreArrowOut {
    0% {
        @include transform(translateX(-50%) translateY(-50%) rotate(0deg));
        opacity: 1;
    }
    50% {
        @include transform(translateX(-50%) translateY(-50%) rotate(-60deg));
        opacity: 1;
    }
    100% {
        @include transform(translateX(-50%) translateY(-50%) rotate(-120deg));
        opacity: 0;
    }
}

$popDur: 0.25s;

.explosion {
    position: absolute; 
    z-index: 100;
    width: 100px;
    height: 100px;
    pointer-events: none; 

    .particle {
        position: absolute; 
        width: 12px;
        height: 12px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        animation: pop $popDur reverse forwards; 
        -webkit-animation: pop $popDur reverse forwards; 
        -ms-animation: pop $popDur reverse forwards; 

        box-shadow: 0 0 60px 20px rgba(255,255,255,0.1);
        -webkit-box-shadow: 0 0 60px 20px rgba(255,255,255,0.1);
        opacity: 0.5 !important;

        &:nth-child(odd) {
            width: 7px;
            height: 7px;
        }

        &:nth-child(3n) {
            width: 10px;
            height: 10px;
        }

        &:nth-child(5n) {
            width: 4px;
            height: 4px;
        }
    }
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

body {
    display: none;

    &.page-loaded {
        display: block;
    }
}

.preloader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: none;

    .page-loaded & {
        @include animation(fadeOut, 0.3s, linear);
    }
}

// .navigation-char-wrap {
//     display: block !important;
// }


// .title {
//     color: #000;
// }

@import "nav";

@import "section-top";

@import "section-2";

@import "section-3";

@import "section-4-5";

@import "section-6";

@import "section-final";

@import "retina";