
/* --------------------
    Section 4, 5
    ------------------- */  

.section-4, .section-5 {
    
    .text-block {
        position: relative;
        margin-bottom: 20px;

        @include mobile-min {
            margin-bottom: 10px;
            
            p {
                margin-bottom: 0;
            }
        }
    }

    .demo-column {

        .help-block {
            width: 350px;
            top: 105px;

            .help-text {
                white-space: nowrap;
            }

            .help-arrow {
                left: -80px;
            }

            @media screen and (min-width: 1025px) and (max-height: 840px){
                display: none;
            }
        }
    }

    .help-block-swipe {
        display: none;

        @include tablet {
            position: absolute;
            display: block;
            right:-5px;
            top: 450px;
            width: 80px;
            padding-top: 63px;
            text-align: right;

            .help-arrow {
                @include transform(scaleX(-1) rotate(85deg));
                right: -5px;
            }

            @include land {
                display: none;
            }
        }

        @include mobile {
            top: 310px;
        }

        @include mobile-min {
            top: 230px;
        }
    }
}

.section-4 {
    background: rgb(145,181,204);
    background-image: -moz-linear-gradient( 16deg, rgb(145,181,204) 0%, rgb(102,177,201) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(145,181,204) 0%, rgb(102,177,201) 100%);
    background-image: -ms-inear-gradient( 16deg, rgb(145,181,204) 0%, rgb(102,177,201) 100%);

    .demo-column {
        left: 50px;

        @include mid {
            left: 0;
        }

        .help-block {
            left: 660px;

            .help-arrow {
                left: -80px;
                @include rot(-50deg);
            }
        }

        .btn-circle span {
            color: #7eb3cb;
        }
    }
}

.section-5 {
    background: rgb(56,65,79);
    background-image: -moz-linear-gradient( 16deg, rgb(56,65,79) 0%, rgb(65,73,90) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(56,65,79) 0%, rgb(65,73,90) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(56,65,79) 0%, rgb(65,73,90) 100%);

    .demo-column {
        float: right;
        //right: -20px;
        right: 40px;

        @include mid {
            right: 0;
        }

        @include tablet {
            float: none;
        }

        .help-block {
            width: 425px;
            left: -530px;

            .help-arrow {
                @include transform(rotate(55deg) scaleX(-1));
                top: 10px;
                right: -80px;
                left: auto;
            }
        }

        .btn-circle span {
            color: #3f4757;
        }
    }
}

.demo-column {
    @include vertCenter;
    width: 550px; 
}

$tabDur: 0.5s;

.demo-tabs {
    padding-top: 20px;
    margin-left: -20px;
    font-size: 0;

    .demo-tab-wrap {
        position: relative;
        vertical-align: top;
        display: inline-block;
        margin: 0 0 70px 20px;

        &:last-child .demo-tab:before, &:last-child .demo-tab:after {
            background: none;
        }
    }

    .demo-tab {
        @include border-rad(50%);
        @include transform(translateY(15px));
        position: relative;
        width: 118px !important;
        height: 118px;
        cursor: pointer;

        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;

        .circle-pie {
            left: 50%;
            margin-left: -100px;
            top: 8px;
        }

        > span {
            position: absolute;
            width: 150px;
            left: 50%;
            margin-left: -75px;
            top: 153px;
            text-transform: uppercase;
            font-family: $fontBold;
            font-size: 18px;
            text-align: center;
        }

        > span, > i {
            @extend .trans;
            @include transform(translateY(7px));
            opacity: 0;
        }

        &:before {
            @include border-rad(50%);
            @include transition(all, 0.6s, linear);
            @extend .ps;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.3);
        }

        i {
            @include border-rad(2px);
            position: absolute;
            display: block;
            width: 3px;
            height: 34px;
            left: 50%;
            top: 108px;
            margin-left: -1.5px;
            background: #ecf334;
        }

        &:after {
            @extend .ps;
            @include sp(0,0);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        &:hover:before {
            background: rgba(255,255,255,0.65);
        }

        &.current i, &.current > span {
            @include transform(translateY(0px));
            opacity: 1;
        }

        &.current > span {
            @include delay(0.2s);
        }

        .active &, .prev & {
            @include transform(translateY(0px));

            &.demo-tab-1.demo-tab {
                transition: background 0.8s, transform $tabDur 0.2s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.2s; 
                -ms-transition: background 0.8s, transform $tabDur 0.2s; 
            }

            &.demo-tab-2.demo-tab {
                transition: background 0.8s, transform $tabDur 0.24s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.24s; 
                -ms-transition: background 0.8s, transform $tabDur 0.24s; 
            }

            &.demo-tab-3.demo-tab {
                transition: background 0.8s, transform $tabDur 0.28s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.28s; 
                -ms-transition: background 0.8s, transform $tabDur 0.28s; 
            }

            &.demo-tab-4.demo-tab {
                transition: background 0.8s, transform $tabDur 0.32s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.32s; 
                -ms-transition: background 0.8s, transform $tabDur 0.32s; 
            }

            &.demo-tab-5.demo-tab {
                transition: background 0.8s, transform $tabDur 0.36s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.36s; 
                -ms-transition: background 0.8s, transform $tabDur 0.36s; 
            }

            &.demo-tab-6.demo-tab {
                transition: background 0.8s, transform $tabDur 0.4s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.4s; 
                -ms-transition: background 0.8s, transform $tabDur 0.4s; 
            }

            &.demo-tab-7.demo-tab {
                transition: background 0.8s, transform $tabDur 0.43s; 
                -webkit-transition: background 0.8s, transform $tabDur 0.43s; 
                -ms-transition: background 0.8s, transform $tabDur 0.43s; 
            }
        }
        
        .btn-circle {
            position: relative;
            z-index: 1;
        }   
    }
}

.section-4 {

    .demo-tab-1.demo-tab:after {
        background-position: 0 -132px;
    }

    .demo-tab-2.demo-tab:after {
        background-position: -118px -132px;
    }

    .demo-tab-3.demo-tab:after {
        background-position: -236px -132px;
    }

    .demo-tab-4.demo-tab:after {
        background-position: -354px -132px;
    }

    .demo-tab-5.demo-tab:after {
        background-position: 0 -250px;
    }

    .demo-tab-6.demo-tab:after {
        background-position: -118px -250px;
    }

    .demo-tab-7.demo-tab:after {
        background-position: -236px -250px;
    }

    @include tablet {

        .demo-tab-1.demo-tab:after {
            background-position: -6px -139px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -126px -139px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -245px -139px;
        }

        .demo-tab-4.demo-tab:after {
            background-position: -362px -139px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -8px -261px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -127px -261px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -245px -261px;
        }
    }

    @include mobile {

        .demo-tab-1.demo-tab:after {
            background-position: -14px -148px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -133px -148px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -253px -148px;
        }

        .demo-tab-4.demo-tab:after {
            background-position: -370px -148px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -15px -270px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -134px -270px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -254px -270px;
        }
    }

    @include mobile-min {

        .demo-tab-1.demo-tab:after {
            background-position: -27px -159px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -145px -159px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -265px -160px;
        }

        .demo-tab-4.demo-tab:after {
            background-position: -382px -161px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -28px -282px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -147px -282px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -266px -281px;
        }
    }
}

.section-5 {

    .demo-tab-1.demo-tab:after {
        background-position: 0 -367px;
    }

    .demo-tab-2.demo-tab:after {
        background-position: 0 -486px;
    }

    .demo-tab-3.demo-tab:after {
        background-position: -118px -367px;
    }

    .demo-tab-4.demo-tab:after {
        
        background-position: -236px -367px;
    }

    .demo-tab-5.demo-tab:after {
        background-position: -118px -487px;
    }

    .demo-tab-6.demo-tab:after {
        background-position: -236px -487px;
    }

    .demo-tab-7.demo-tab:after {
        
        background-position: -354px -367px;
    }

    @include tablet {

        .demo-tab-1.demo-tab:after {
            background-position: -7px -377px;
        }

        .demo-tab-2.demo-tab:after {
           background-position: -9px -496px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -127px -377px;
        }

        .demo-tab-4.demo-tab:after {
            background-position: -245px -377px;
            
        }

        .demo-tab-5.demo-tab:after {
            background-position: -127px -496px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -245px -496px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -363px -377px;
        }
    }

    @include mobile {

        .demo-tab-1.demo-tab:after {
            background-position: -16px -388px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -16px -506px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -252px -388px;            
        }

        .demo-tab-4.demo-tab:after {

            background-position: -134px -388px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -137px -506px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -254px -506px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -372px -388px;
        }
    }

    @include mobile-min {

        .demo-tab-1.demo-tab:after {
            background-position: -27px -399px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -27px -518px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -266px -399px;
        }

        .demo-tab-4.demo-tab:after {

            background-position: -144px -399px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -148px -518px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -264px -518px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -385px -399px;
        }
    }
}


.circle-pie {
    @include transform(scale(0.1));
    position: absolute;
}

.circle-pie-bor {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: center;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: center;

    transition: opacity 0.2s linear 0.2s;
    -webkit-transition: opacity 0.2s linear 0.2s;
    -ms-transition: opacity 0.2s linear 0.2s;

    .current & {
        opacity: 1;
        animation: circle-chart-fill 0.8s reverse;
        -webkit-animation: circle-chart-fill 0.8s reverse;
        -ms-animation: circle-chart-fill 0.8s reverse;
    }
}


.screen {
    position: absolute;
    height: 550px;
    bottom: 0;

    height: 75vh;

    .section-4 & {
        right: 50px;

        @include mid {
            right: -30px;
        }
    }

    .section-5 & {
        left: 50px;

        @media screen and (max-width: 1280px) and (min-width: 1025px) {
            left: -50px;
        }

        @include tablet {
            left: 50%;
        }
    }
}

.screen-inner {
    @include transition(all, 0.8s, ease-in);
    @include transform(translateY(25px));
    margin: auto;
    width: 468px;
    height: 200%;
    background: url(../images/screen-1.png) no-repeat;
    background-size: 100% auto;

    &.jump {
        animation: screenJump 0.4s ease-in 0.1s;
        -webkit-animation: screenJump 0.4s ease-in 0.1s;
        -ms-animation: screenJump 0.4s ease-in 0.1s;
    }

    .active &, .prev & {
        @include transform(translateY(0));
    }
}

.tab-content {
    @include transition(opacity, 0.3s, linear); 
    opacity: 0;
    position: absolute;
    width: 375px;
    //height: 414px;
    top: 115px;
    left: 48px;
    background-color: #666;

    height: 667px;

    video {
        width: 100%;
    }

    &.current {
        opacity: 1;
    }

    img {
        display: block;
        width: 100%;
    }
}






div.section-4 .demo-column, div.section-5 .demo-column {
    padding-bottom: 80px;

    .help-block {
        top: 555px;

        .help-arrow {
            @include transform(rotate(250deg) scaleX(-1));
            left: -80px;
            top: -23px;
        }
    }
}

div.section-4 .demo-column {

    .help-block {
        left: 130px;
    }
}

div.section-5 .demo-column {

    .help-block {
        right: 0;
        left: auto;
    }
}

@media screen and (min-width: 1025px) and (max-height: 800px){

    .screen {
        height: 95vh;
    }
}

@media screen and (min-width: 1025px) and (max-height: 700px){

    .screen {
        height: 89vh;

        .screen-inner {
            width: 380px;
        }
    }

    .tab-content {
        width: 305px;
        left: 37px;
        top: 80px;
    }
}

@media screen and (min-width: 1025px) and (max-height: 700px){
    
    .demo-tabs {

        .demo-tab-wrap {
            margin-bottom: 45px;
        }

        .demo-tab {

            > span {
                top: 135px;
            }

            i {
                height: 20px;
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-height: 600px){

    .demo-column {
        @include vertCenterRemove;
        padding-top: 20px;

        .text-block p {
            margin-bottom: 0;
        }
    }

    .demo-tabs {
        padding-top: 0;

        .demo-tab-wrap {
            margin-bottom: 45px;

            .demo-tab > span {
                font-size: 14px;
            }
        }
    }
}    

@include tablet {

    .demo-column {
        @include vertCenterRemove;
        width: auto;
        padding-top: 25px;

        .help-block {
            display: none;
        }

        p {
            display: none;
        }

        @include port {
            padding-top: 50px;

            .text-block {
                width: auto;
            }
        }
    }   

    .slick-list {
        padding-bottom: 60px;

        .slick-slide {
            width: 122px !important;
            padding: 0 0 0 20px;
        }
    }

    .demo-tabs {
        padding-top: 0;
        margin-left: -25px;
        margin-right: -25px;

        .demo-tab-wrap {
            margin: 0;
        }

        .demo-tab {
            @include transform(translateY(0));
            width: 102px !important;
            height: 102px;

            &:after {
                @include transform(scale(0.9));
            }

            .circle-pie {
                top: -8px;
            }

            i {
                top: 91px;
            }

            > span {
                top: 134px;
            }

            .btn-circle {
                @include transform(scale(0.9));
            }
        }

        @media (min-height: 1365px){
            width: 555px;
            margin-left: 0px;

            .demo-tab {
                margin: 0 20px 20px 0;

                > i, > span, .circle-pie {
                    display: none;
                }
            }
        }

        @media (max-width: 980px) and (orientation: landscape) {
            padding-top: 0;

            .demo-tab {

                > i, > span, .circle-pie {
                    display: none;
                }
            }
        }
    }

    .screen {
        @include transform(translateX(-50%) scale(0.7));
        right: auto !important;
        left: 50%;
        height: 60vh;
        bottom: auto;
        //top: 305px;
        top: 260px;

        transform-origin: center top;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;

        @include port {
            @include transform(translateX(0) scale(1));
            top: 295px;
            left: -15px !important;
            right: auto !important;
            //height: 55vh;
        }

        @media (max-width: 980px) and (orientation: landscape) {
            @include transform(translateX(-50%) scale(0.6));
            top: 300px;
        }
    }
}        

// Ipad Pro Portrait
@media (min-width: 1024px) and (orientation: portrait){

    .section-4, .section-5 {
        
        .help-block {
            display: none;
        }
    }

    .demo-column {
        width: 550px;
        margin: auto;
    }

    .demo-tabs {
        margin-left: 0;

        .demo-tab {
            margin: 0 35px 80px 0;
        }
    }

    .screen {
        @include transform(translateX(-50%) scale(1));
        top: 510px;
        left: 50% !important;
    }
}

@include mobile {

    // .video {
    //     display: none;
    // }

    .demo-column {
        padding-top: 25px;

        .text-block {
            width: auto;
            margin-right: 0;
        }

        @include land {
            padding-top: 15px;

            p {
                display: none;
            }

            .text-block {
                width: 65%;
            }
        }
    }

    .slick-list .slick-slide {
        width: 108px !important;
        padding: 0 0 0 23px;
    }

    .demo-tabs {
        padding-top: 0;

        .demo-tab {
            width: 85px !important;
            height: 85px;

            &:after {
                @include transform(scale(0.6));
            }

            > i, > span, .circle-pie {
                display: none;
            }

            .btn-circle {
                @include transform(scale(0.9));
                transform-origin: left top;
                -webkit-transform-origin: left top;
                -ms-transform-origin: left top;
            }
        }

        @include land {
            width: 75%;
        }
    }

    .slick-list {
        padding-bottom: 0;
    }

    .screen {
        @include transform(translateX(0) scale(0.57));
        //top: 300px;
        top: 204px;
        bottom: auto;
        right: auto !important;
        left: -15px !important;
        height: 100%;

        transform-origin: left top;
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;

        @include land {
            @include transform(translateX(0) scale(0.5));
            top: -45px;
            left: auto !important;
            right: 0 !important;

            transform-origin: right top;
            -webkit-transform-origin: right top;
            -ms-transform-origin: right top;

            .screen-inner {
                height: 250%;
            }
        }
    }
}

@include mobile-min {

    .slick-list .slick-slide {
        width: 73px !important;
        padding: 0 0 0 13px;
    }

    .demo-tabs .demo-tab {
        width: 60px !important;
        height: 60px;

        .btn-circle {
            @include transform(scale(0.64));
        }

        &:after {
            @include transform(scale(0.5));
        }
    }

    .screen {
        @include transform(translateX(0) scale(0.43));
        //top: 226px;
        top: 155px;
        bottom: auto;
        left: -15px;
        height: 100%;

        transform-origin: left top;
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
    }
}

@media (max-height: 600px) and (max-width: 767px) and (orientation: landscape){

    .section-4, .section-5 {

        .title {
            margin-bottom: 0;
        }

        .help-block-swipe {
            display: block !important;
            left: 0;
            top: 185px;

            .help-text {
                text-align: left;
            }

            .help-arrow {
                @include transform(rotate(100deg));
                right: auto;
                left: 0px;
            }
        }
    }

    .screen {
        top: 20px;
    }
}

@media (max-height: 375px) and (max-width: 767px) and (orientation: landscape){
    
    .section-4, .section-5 {

        .help-block-swipe {
            top: 130px;
            padding-top: 70px;

            .help-text {
                font-size: 15px;
                line-height: 18px;
            }

            .help-arrow {
                @include transform(scale(0.6) rotate(100deg));
                @include origin(left, bottom);
                left: 7px;
            }
        }   
    }
}

@media (max-height: 300px) and (orientation: landscape){

    .slick-list .slick-slide {
        width: 73px !important;
        padding: 0 0 0 13px;
    }

    .demo-tabs .demo-tab {
        width: 60px !important;
        height: 60px;

        .btn-circle {
            @include transform(scale(0.64));
        }

        &:after {
            @include transform(scale(0.5));
        }
    }

    .screen {
        @include transform(translateX(0) scale(0.4));
        height: 200%;
        top: -40px;
    }

    .section-4, .section-5 {

        .title {
            margin-left: -10px;
        }

        .text-block {
            margin-bottom: 10px !important;
        }

        .help-block-swipe {
            padding-top: 68px;
            top: 88px;
            left: -10px;

            .help-text {
                font-size: 14px;
                line-height: 17px;
            }
        }  
    }     

    .section-4 {

        .demo-tab-1.demo-tab:after {
            background-position: -27px -159px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -145px -159px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -265px -160px;
        }

        .demo-tab-4.demo-tab:after {
            background-position: -382px -161px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -28px -282px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -147px -282px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -266px -281px;
        }
    }

    .section-5 {

        .demo-tab-1.demo-tab:after {
            background-position: -27px -399px;
        }

        .demo-tab-2.demo-tab:after {
            background-position: -144px -399px;
        }

        .demo-tab-3.demo-tab:after {
            background-position: -266px -399px;
        }

        .demo-tab-4.demo-tab:after {
            background-position: -385px -399px;
        }

        .demo-tab-5.demo-tab:after {
            background-position: -27px -518px;
        }

        .demo-tab-6.demo-tab:after {
            background-position: -148px -518px;
        }

        .demo-tab-7.demo-tab:after {
            background-position: -264px -518px;
        }
    }
}


// @media (max-width: 359px){

//     .slick-list .slick-slide {
//         width: 73px !important;
//         padding: 0 0 0 13px;
//     }  
// }

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@-webkit-keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@keyframes screenJump {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }
}

@-webkit-keyframes screenJump {
    0%, 100% {
        -webkit-transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(25px);
    }
}

