


/* --------------------
    Characters Nav
    ------------------- */  

.navigation-char-wrap {
    //@include transition(opacity, 0.2s, linear);
    //@include delay(0.1s);
    @include charSocket;
    @include transform(translateX(-50%));
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 11;
    height: auto;
    display: none;

    &.show {
        opacity: 1;
        // display: block;

        // animation: fadeIn 0.5s linear 0.8s forwards;
        // -webkit-animation: fadeIn 0.5s linear 0.8s forwards;
        // -ms-animation: fadeIn 0.5s linear 0.8s forwards;
    }

    &.hide {
        opacity: 0;

        animation: fadeOut 0.5s linear 0.5s forwards;
        -webkit-animation: fadeOut 0.5s linear 0.5s forwards;
        -ms-animation: fadeOut 0.5s linear 0.5s forwards;
    }

    @include tablet {
        left: auto;
        right: 25px;
    }

    @include mobile {
        @include transform(translateX(0));
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
    }

    @include mobile-min {
        @include scale(0.8);
        @include origin(left, bottom);
    }
}

.navigation-char {
    position: absolute;
    float: right;
    top: 46vh;
    right: 0;
    
    li {
        position: relative;
        padding-top: 2px;
        padding-right: 68px;
        margin-bottom: 24px;
        cursor: pointer;
        text-align: right;
        text-transform: uppercase;
        font-family: $fontBold;
        white-space: nowrap;

        @media screen and (min-width: 1025px) and (max-height: 700px){
            padding-right: 45px;
        }

        span {
            @include transition(all, 0.3s, ease-out);
            @include transform(translateX(-15px));
            display: block;
            opacity: 0;
            font-size: 15px;
            letter-spacing: 0.5px;
        }

        i {
            @include transition(all, 0.3s, ease-out);
            @include delay(0.1s);
            @include border-rad(4px);
            @include transform(translateX(-10px));
            display: block;
            opacity: 0;
            position: absolute;
            top: 8px;
            right: 9px;
            height: 3px;
            width: 34px;
            background: #ecf334;

            @media screen and (min-width: 1025px) and (max-height: 700px){
                width: 20px;
            }
        }

        b {
            font-weight: normal;
        }

        &:before {
            @extend .ps;
            @include border-rad(50%);
            @extend .trans;
            width: 19px;
            height: 19px;
            right: 0;
            top: 0;
            background: rgba(255,255,255,0.3);
        }

        .circle-pie {
            top: 0;
            right: 0;
            transform-origin: top right;
            -webkit-transform-origin: top right;
            -ms-transform-origin: top right;
        }

        .circle-pie-bor {
            @include rot(-90deg);
            opacity: 0;
        }

        &:hover:before {
            @include transform(scale(1.4));
        }

        &.active {

            &:before {
                display: none;
            }

            .circle-pie-bor {
                opacity: 1;
                animation: circle-chart-fill 0.8s reverse;
                -webkit-animation: circle-chart-fill 0.8s reverse;
                -ms-animation: circle-chart-fill 0.8s reverse;
            }

            i, span {
                @include transform(translateX(0px));
                opacity: 1;
            }
            
        }
    }

    @include mobile {
        float: left;
        top: auto;
        bottom: 25px;
        right: auto;
        left: 0;

        @include land {
            @include transform(scale(0.65));
            bottom: 5px;
            transform-origin: left bottom;
            -webkit-transform-origin: left bottom;
            -ms-transform-origin: left bottom;
        }

        li {
            text-align: left;
            margin-bottom: 17px;
            padding: 0 0 0 53px;

            &:before {
                right: auto;
                left: 0;
            }

            &:hover:before {
                @include transform(scale(1));
            }

            .circle-pie {
                right: auto;
                left: 0;

                transform-origin: top left;
                -webkit-transform-origin: top left;
                -ms-transform-origin: top left;
            }

            span {
                font-size: 18px;
            }

            i {
                right: auto;
                left: 10px;
            }
        }
    }

    @include mobile-min {

          @include land {
            bottom: 0;
        }  
    }
}

/* --------------------
    Characters
    ------------------- */  

.character-4 {
    background-image: -moz-linear-gradient( 16deg, rgb(48,117,50) 0%, rgb(48,122,59) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(48,117,50) 0%, rgb(48,122,59) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(48,117,50) 0%, rgb(48,122,59) 100%);

    .character-image {
        height: 104vh;
        left: 55%;
        top: -10px;
    }

    .character-name {
        left: 130px;
    }

    @include lg {

        .character-image {
            top: 3vh;
            height: 95vh;
        }

        .character-name {
            left: 30px;
        }
    }

    @include mid {

        .character-image {
            top: 7vh;
            left: 68%;
            height: 87vh;
        }
    }

    @include tablet {

        .character-image {
            right: 0;
            top: 22vh;
            height: 71vh;

            @include land {
                right: 11%;
                top: 7vh;
                height: 90vh;
            }
        }

        .character-name {
            left: 16%;
        }
    }

    @include mobile {

        .character-image {
            height: 73vh;
            right: -2vw;
            bottom: -30px;
        }
    }

    @media (max-width: 500px){

        .character-image {
            height: 70vh;

            @include land {
                height: 77vh;
                bottom: 0;
                right: -5vw;
            }
        }
    }

    @include mobile-min {

        .character-image {
            right: -5vw;
        }
    }
}

.character-2 {
    background-image: -moz-linear-gradient( 16deg, rgb(221,175,72) 0%, rgb(237,195,91) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(221,175,72) 0%, rgb(237,195,91) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(221,175,72) 0%, rgb(237,195,91) 100%);

    .character-image {
        height: 103vh;
        left: 48%;
        top: 5vh;
    }

    .character-name {
        left: 26%;
    }

    @include lg {

        .character-image {
            top: 3vh;
            height: 99vh;
        }

        .character-name {
            left: 20%;
        }
    }

    @include tablet {

        .character-name {
            left: 12%;

            @include land {
                left: 28%;
            }
        }

        .character-image {
            right: 12%;
            top: auto;
            bottom: 0;
            height: 79vh;

            @include land {
                right: 25%;
            }
        }
    }

    @include mobile {

        .character-image {
            height: 70vh;
            right: 0px;
            bottom: -50px;
        }
    }

    @media (max-width: 550px){

        .character-image {
            right: 7vw;
        }
    }
}

.character-3 {
    background-image: -moz-linear-gradient( 16deg, rgb(51,65,90) 0%, rgb(92,110,150) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(51,65,90) 0%, rgb(92,110,150) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(51,65,90) 0%, rgb(92,110,150) 100%);

    .authorize-block {  
        top: 11vh;

        // p {
        //     text-shadow: 1px 1px 2px #000;
        // }
    }

    .character-image {
        height: 87vh;
        left: 48%;
        top: auto;
        bottom: -3vh;
    }

    .character-name {
        left: 18%;
    }

    @include lg {

        .character-name {
            left: 14%;
        }
    }

    @include mid {

        .character-image {
            left: 54%;
        }


        .character-desc p {
            display: none;
        }

        .authorize-block p {
            display: block;
        }
    }

    @include tablet {

        .character-image {
            height: 73vh;
            right: 10%;

            @include land {
                height: 78vh;
                right: 18%;
            }
        }

        .character-name {
            
            @include port {
                left: 0;
            }
        }
    }

    @include mobile {

        .character-image {
            height: 60vh;
            right: -5vw;
            bottom: -20px;
        }
    }
}


.character-1 {
    background-image: -moz-linear-gradient( 16deg, rgb(108,24,31) 0%, rgb(145,33,36) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(108,24,31) 0%, rgb(145,33,36) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(108,24,31) 0%, rgb(145,33,36) 100%);

    .authorize-block p {
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
    }

    .character-image {
        height: 96vh;
        left: 51%;
        top: auto;
        bottom: -3vh;
    }

    .character-name {
        left: 25%;
    }

    @include lg {

        .character-name {
            left: 20%;
        }
    }

    @include mid {

        .character-image {
            left: 57%;
        }

    }

    @include tablet {

        .character-image {
            height: 76vh;
            right: -2vw;
            bottom: -1vh;

            @include land {
                height: 86vh;
                right: 23vw;
            }
        }

        .character-name {
            
            @include port {
                left: 0;
            }
        }
    }

    @include mobile {

        .character-image {
            height: 66vh;
            right: -5vw;
            bottom: -20px;
        }
    }

    @include mobile-min {

        .character-image {
            height: 70vh;
            right: -5vw;
        }
    }
}

.character-5 {
    background-image: -moz-linear-gradient( 16deg, rgb(108,160,208) 0%, rgb(83,135,183) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(108,160,208) 0%, rgb(83,135,183) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(108,160,208) 0%, rgb(83,135,183) 100%);

    .character-image {
        height: 82vh;
        left: 56%;
        top: auto;
        bottom: -2vh;
    }

    .character-name {
        left: 23%;
    }

    @include lg {

        .character-image {
            left: 58%;
        }

        .character-name {
            left: 5%;
        }
    }

    @include mid {

        .character-image {
            height: 75vh;
            left: 48%;
        }

        .character-name {
            left: 5%;
        }
    }

    @include tablet {

        .character-image {
            height: 76vh;
            right: -40%;
            bottom: -1vh;

            @include land {
                height: 80vh;
                right: -5%;
            }
        }

        .character-name {

            @include land {
                left: 18%;
            }
            
            @include port {
                left: 0;
            }
        }
    }

    @include mobile {

        .character-image {
            height: 64vh;
            right: -48vw;
            bottom: -5px;

            @include land {
                right: 20px !important;
            }
        }
    }

    @include mobile-min {

        .character-image {
            right: -45vw;
        }
    }
}


/* --------------------
    Characters Layout
    ------------------- */  

.character-socket {
    @include charSocket;
}

.character-image, .character-name, 
.character-desc .title, .character-desc p,
.authorize-block {
    @include transition(all, 0.4s, ease-out);
    @include delay(0.2s);
}


.character-image {
    @include transform(scaleY(1.05) translateY(25px) translateX(-50%));
    position: absolute;
    z-index: 10;
    left: 50%;
    height: 100vh;
    -webkit-backface-visibility: hidden;

    .active &, .prev & {
        @include transform(scaleY(1) translateY(0) translateX(-50%));
    }
}

.character-name {
    @include transform(translateY(50px));
    @include delay(0.25s);
    position: absolute;
    top: 58vh;
    font-family: $fontBold;
    font-size: 138px;
    white-space: nowrap;
    z-index: -1;

    .active &, .prev & {
        @include transform(translateY(0));
    }

    @include ie10 {
        @include transform(translateY(0));
    }
}

.character-desc {
    position: absolute;
    width: 325px;
    left: 0;
    top: 28vh;

    top: 24vh;
    left: 50px;

    .title, p {
        @include transform(translateY(20px));
    }

    .active &, .prev & {
        .title, p {
            @include transform(translateY(0px));
        }
    }

    .title {
        font-size: 38px;
    }

    p {
        @include delay(0.25s);
    }

    @include mid {
        right: auto;
        left: 0;
    }

    @include mobile {
        
        @include land {
            width: 280px;

            .title {
                font-size: 28px;
                line-height: 35px;
            }
            
            p {
                font-size: 14px;
            }
        }
    }
}

.authorize-block {
    @include transform(translateY(20px));
    position: absolute;
    width: 300px;
    right: 30px;
    top: 15vh;
    z-index: 100;

    .active &, .prev & {
        @include transform(translateY(0));
    }

    @include mid {
        p {
            display: none;
        }
    }
}

.btn-authorize {
    position: relative;
    display: block;
    height: 65px;
    margin-bottom: 15px;
    text-decoration: none;

    .btn-circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;

        img {
            @include transform(translate(-50%, -50%));
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
        }

        &:after {
            background-size: 100% auto;
        }
    }

    b {
        position: absolute;
        left: 80px;
        color: #fff;
        display: block;
        font-weight: normal;
        font-family: $fontBold;
        font-size: 18px;
        line-height: 65px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    @include mobile { // BUTTON
        
        .btn-circle {
            position: relative;
        }

        b {
            position: static;
            line-height: 40px;
        }
    }
}

@include mid {

    .character-text {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 11;

        .character-desc, .authorize-block {
            position: static;
        }
    }
}

@media screen and (min-width: 1025px) and (max-height: 650px){

    .character-name {
        font-size: 90px;

        .character-4 & {
            left: 100px;
        }

        .character-2 & {
            left: 350px;
        }
    }

    .authorize-block {
        top: 15vh;
    }

    .authorize-block p, .character-desc p {
        font-size: 13px;
        line-height: 22px;
    }

    .character-desc {
        top: 10vh;

        .title {
            font-size: 35px;
            line-height: 40px;
        }
    }
}

@include tablet {

    .character-name {
        font-size: 90px;
    }
    
    .character-image {
        @include transform(scaleY(1.02) translateY(25px) translateX(0));
        left: auto !important;

        .active &, .prev & {
            @include transform(scaleY(1) translateY(0) translateX(0));
        }
    }
}

@include mobile {

    .authorize-block {
        width: auto;
    }

    .character-text {
        top: 25px;
    }

    .character-name {
        display: none;
    }

    .character-image {
        top: auto !important;
    }

    @include land {

        img.character-image {
            top: 50% !important;
            height: 300px !important;
            margin-top: -150px;
            right: 10vw !important;
        }

        .character-2 img.character-image {
            right: 12vw;
        }


        .character-text {
            top: 15px;
            right: 0;

            .authorize-block {
                position: absolute;
                width: auto;
                right: 0;
                top: 15px;
                left: auto;

                p {
                    display: none !important;
                }
            }
        }
    }
}

@media (max-width: 767px) and (max-height: 300px) and (orientation: landscape){

    img.character-image {
        height: 200px !important;
        margin-top: -100px;
        right: 130px !important;
    }

    .character-desc p {
        display: none;
    }
}

@media (max-width: 500px){

    @include land {
        
        .authorize-block {
            display: none;
        }
    }
}

@include mobile-min {

    .character-desc {
        width: auto;
    }

    .btn-authorize b {
        font-size: 16px;
        line-height: 25px;
    }
}

